<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
        <form th:action="@{/test/member/login}" th:object="${loginForm}" method="post">
            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
            </div>
            <div>
                <label for="id">아이디</label>
                <input th:field="*{loginId}" th:errorclass="field-error" id="id" type="text">
                <div class="field-error" th:errors="*{loginId}"></div>
            </div>
            <div>
                <label for="password">패스워드</label>
                <input th:field="*{password}" id="password" th:errorclass="field-error" type="password">
                <div class="field-error" th:errors="*{password}"></div>
            </div>
            <div>
            <div>
                <input type="submit">
            </div>

                <form th:action="@{/test/logout}" th:object="${loginForm}" method="post">
                    <div>
                        <h1>로그아웃이야!!</h1>
                        <input type="submit">
                    </div>
                </form>


</body>
</html>