<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testPageMain</title>
</head>
<body>
    <div><a href="join.html" th:href="@{/test/member/join}">회원가입</a></div>
    <div><a href="" th:href="@{/test/member/login}">로그인</a></div>
    <div><a href="" th:href="@{/test/member/delete}">회원 삭제</a></div>
    <div><a href="" th:href="@{/test/member/updateList}">회원 업데이트</a></div>
</body>
</html>