<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/test/member/update/{memberId} (memberId = ${updateForm.id})}" method="post" th:object="${updateForm}">
    <h1>업데이트 변경 부분</h1>
    <div>
        <label for="password">패스워드</label>
        <input th:field="*{password}" id="password" type="password">
    </div>
    <div>
        <label for="nick">닉네임</label>
        <input th:field="*{nickName}" id="nick" type="text">
    </div>
    <div>
        <label for="email">email</label>
        <input th:field="*{email}" id="email" type="email">
    </div>
    <div>
        <label for="age">나이</label>
        <input th:field="*{age}" id="age" type="text">
    </div>
    <div>
        <input type="submit">
    </div>
</form>
</body>
</html>