<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div th:each="member : ${members}">
        <form th:action="@{/test/member/update/{memberId} (memberId = ${member.id})}" method="get">
            <div>
                <span th:text="${member.nickName}">변경회원 닉네임</span>
                <input type="submit">
            </div>
        </form>
    </div>
</body>
</html>