<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
    <style>
         img {
 width : 30%;
 height: 30%;
}
* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f2f4f6;
}
button {
  background: #fff;
  border: unset;
  outline: 0;
  font-size: 18px;
  cursor: pointer;
  color: #65676b;
  padding: 5px 10px;
}
button.liked {
  color: #0571ed;
}
button.liked i{
  animation: anim 0.5s ease-in-out;
  -webkit-animation: anim 0.5s ease-in-out;
}
    </style>
</head>
<body>
    <div>
        <th:block th:if="${boardDTO.boardCreator} == ${boardDTO.loginId}" >
            <div>
                <form method="post" th:action="@{/test/board/delete/{boardId} (boardId = ${boardDTO.boardId})}">
                    <button type="submit">게시물 삭제</button>
                </form>
            </div>
            <div>
                <a href="" th:href="@{/test/board/update/{boardId} (boardId = ${boardDTO.boardId})}">게시물 업데이트</a>
            </div>
        </th:block>

        <div class="form-group">
            <label th:for="loginId">작성자</label>
            <span th:text="${boardDTO.boardCreator}" type="text" placeholder="enter your Book Title" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label th:for="title">Title</label>
            <span th:text="${boardDTO.title}"  type="text" placeholder="enter your Book Title" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label th:for="img">Img</label>
            <Img th:src="@{/test/board/image/{fileId} (fileId = ${boardDTO.fileId})}" type="file" name="file" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label th:for="content">Content</label>
            <span th:text="${boardDTO.content}" th:inline="text" type="text" cols="30" rows="10" placeholder="enter your Book Story" class="form-control" readonly></span>
        </div>
        <div>
            <span th:each="hashtag : ${boardDTO.hashTags}" th:text="${hashtag}">tag</span>
        </div>
        <div class="form-group">
            <form th:if="${boardDTO.likeState} == 0" method="post" th:action="@{/test/board/like/{boardId}/{memberId} (boardId = ${boardDTO.boardId}, memberId = ${boardDTO.loginMemberId}) }">
                <button id="like">
                    <i class="fa fa-thumbs-up"></i>
                    <span class="icon">Like</span>
                </button>
            </form>
            <form th:if="${boardDTO.likeState} == 1" method="post" th:action="@{/test/board/unlike/{boardId}/{memberId} (boardId = ${boardDTO.boardId}, memberId = ${boardDTO.loginMemberId}) }">
                <button id="like" class="liked">
                    <i class="fa fa-thumbs-up"></i>
                    <span class="icon">Like</span>
                </button>
            </form>
            <label th:for="content">좋아요 : </label>
            <span th:text="${boardDTO.likeCount}" th:inline="text" type="text" cols="30" rows="10" placeholder="enter your Book Story" class="form-control" readonly></span>
        </div>
        <form method="post" th:action="@{/test/board/comment/{boardId}/{memberId} (boardId = ${boardDTO.boardId}, memberId = ${boardDTO.loginMemberId})}">
            <div th:object="${commentForm}" class="form-group">
                <label th:for="commentInput">Comment Input</label>
                <input th:field="*{commentInput}" type="text"/>
                <div class="field-error" th:errors="*{commentInput}"></div>
            </div>
            <input type="submit"/>
        </form>
        <div th:each="comment : ${boardDTO.comments}" class="form-group">
            <label th:for="comment">댓글 : </label>
            <span th:text="${comment.nickName}"  type="text"  class="form-control" readonly></span>
            <span th:text="${comment.comment}" type="text"  class="form-control" readonly></span>
            <form method="post" th:action="@{/test/board/unComment/{commentId} (commentId = ${comment.commentId}) }">
                <button type="submit">삭제</button>
            </form>
        </div>

    </div>
</body>
</html>