<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testPageMain</title>
</head>
<body>
<div>
    <div><a href="join.html" th:href="@{/test/board/create}">게시물 생성</a></div>
    <div><a href="" th:href="@{/test/board/delete}">게시물 삭제</a></div>
    <div><a href="" th:href="@{/test/board/update}">게시물 업데이트</a></div>
    <div><a href="" th:href="@{/test/board/boards}">게시물 전체조회</a></div>
</div>
</body>
</html>