<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anime | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/main/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/main/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/main/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/main/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="/main/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/main/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/main/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/main/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html">
                            <img src="img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="./index.html">Homepage</a></li>
                                <li><a href="./categories.html">Categories <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="./categories.html">Categories</a></li>
                                        <li><a href="./anime-details.html">Anime Details</a></li>
                                        <li><a href="./anime-watching.html">Anime Watching</a></li>
                                        <li><a href="./blog-details.html">Blog Details</a></li>
                                        <li><a href="./signup.html">Sign Up</a></li>
                                        <li><a href="./login.html">Login</a></li>
                                    </ul>
                                </li>
                                <li><a href="./blog.html">Our Blog</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                        <a href="./login.html"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <a href="./categories.html">Categories</a>
                        <span>CusMission</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="anime__details__text">
                            <div class="anime__details__title">
                                <h3 th:text="${cus.title}">커미션 의뢰 제목</h3>
                                <span th:text="${cus.requester.nickName}" >의뢰자</span>
                            </div>
                            <p th:text="${cus.content}">커미션 내용</p>
                            <div class="anime__details__btn">
                                <div th:if="${cus.cusState.getDisplayValue} == 'Ready'">
                                    <div th:if="${cus.requester.id} != ${member.id}">
                                        <form id="accept" th:action="@{/CusMission/accept/{cusId}/{memberId} (cusId=${cus.id}, memberId=${member.id})}" method="post">
                                            <a class="follow-btn" href="#" onclick="document.getElementById('accept').submit();"><i class="fa fa-heart-o"></i> 커미션 받기</a>
                                        </form><br>
                                        <a class="follow-btn" th:href="@{/chat/room(roomId=${chatRoom.roomId})}">문의하기</a>
                                    </div>
                                    <div th:if="${cus.requester.id} == ${member.id}">
                                        <a class="follow-btn" th:href="@{/chat/room(roomId=${chatRoom.roomId})}">문의내역</a>
                                    </div>
                                </div>
                                <div th:if="${cus.cusState.getDisplayValue} != 'Ready'">
                                    <div th:if="${cus.cusState.getDisplayValue} != 'Check'">
                                        <div th:if="${cus.cusState.getDisplayValue} != 'Done'">
                                            <a class="follow-btn" href="#">작업중인 커미션입니다.</a>
                                            <br>
                                            <div th:if="${cus.requester.id} != ${member.id}">
                                                <form id="submit" th:object="${form}" th:action="@{/CusMission/submit/{cusId} (cusId = ${cus.id})}" method="post" enctype="multipart/form-data">
                                                    <div class="input__item">
                                                        <input th:field="*{file}" type="file" class="form-control">
                                                        <div class="field-error" th:errors="*{file}"></div>
                                                        <br>
                                                        <a class="follow-btn" href="#" onclick="document.getElementById('submit').submit();"><i class="fa fa-heart-o"></i>작업제출</a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div th:if="${cus.cusState.getDisplayValue} == 'Check'">
                                    <a class="follow-btn" href="#">작업확인중인 커미션입니다.</a>
                                    <div class="col-lg-12">
                                        <div class="blog__details__pic">
                                            <img th:src="@{/image/{fileId} (fileId = ${cus.fileEntity.id})}" src="img/blog/details/blog-details-pic.jpg" style="object-fit: scale-down;" alt="">
                                        </div>
                                    </div>
                                    <div th:if="${cus.requester.id} == ${member.id}">
                                        <form id="reject" th:action="@{/CusMission/done/{cusId} (cusId = ${cus.id})}" method="post" enctype="multipart/form-data">
                                            <div class="input__item">
                                                <a class="follow-btn" href="#" onclick="document.getElementById('reject').submit();"><i class="fa fa-heart-o"></i>작업완료</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div th:if="${cus.cusState.getDisplayValue} == 'Done'">
                                    <a class="follow-btn" href="#">작업완료된 커미션입니다.</a>
                                    <div th:if="${cus.requester.id} == ${member.id}" class="col-lg-12">
                                        <div class="blog__details__pic">
                                            <img th:src="@{/image/{fileId} (fileId = ${cus.fileEntity.id})}" src="img/blog/details/blog-details-pic.jpg" style="object-fit: scale-down;" alt="">
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <!-- Anime Section End -->

        <!-- Footer Section Begin -->
        <footer class="footer">
            <div class="page-up">
                <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer__nav">
                            <ul>
                                <li class="active"><a href="./index.html">Homepage</a></li>
                                <li><a href="./categories.html">Categories</a></li>
                                <li><a href="./blog.html">Our Blog</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

                      </div>
                  </div>
              </div>
          </footer>
          <!-- Footer Section End -->

          <!-- Search model Begin -->
          <div class="search-model">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="search-close-switch"><i class="icon_close"></i></div>
                <form class="search-model-form">
                    <input type="text" id="search-input" placeholder="Search here.....">
                </form>
            </div>
        </div>
        <!-- Search model end -->

        <!-- Js Plugins -->
        <script src="/main/js/jquery-3.3.1.min.js"></script>
        <script src="/main/js/bootstrap.min.js"></script>
        <script src="/main/js/player.js"></script>
        <script src="/main/js/jquery.nice-select.min.js"></script>
        <script src="/main/js/mixitup.min.js"></script>
        <script src="/main/js/jquery.slicknav.js"></script>
        <script src="/main/js/owl.carousel.min.js"></script>
        <script src="/main/js/main.js"></script>

    </body>

    </html>