<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anime | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/main/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/main/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/main/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/main/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="/main/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/main/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/main/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/main/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html">
                            <img src="img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li><a href="./index.html">Homepage</a></li>
                                <li><a href="./categories.html">Categories <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="./categories.html">Categories</a></li>
                                        <li><a href="./anime-details.html">Anime Details</a></li>
                                        <li><a href="./anime-watching.html">Anime Watching</a></li>
                                        <li><a href="./blog-details.html">Blog Details</a></li>
                                        <li><a href="./signup.html">Sign Up</a></li>
                                        <li><a href="./login.html">Login</a></li>
                                    </ul>
                                </li>
                                <li class="active"><a href="./blog.html">Our Blog</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                        <a href="./login.html"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="blog__details__title">
                        <h2 th:text="${board.title}">제목</h2>
                        <div class="product__item__text">
                            <ul th:each="tag : ${board.hashTags}">
                                <li th:text="${tag}">tag</li>
                            </ul>
                        </div>
                        <h3 th:text="${board.boardCreator}" style="color : white">작성자</h3>
                        </div>
                        <th:block th:if="${board.boardCreateMemberId} == ${board.loginMemberId}">
                            <div class="section-title">
                                <h5><a th:href="@{/board/update/{boardId} (boardId = ${board.boardId})}">게시글 수정</a></h5>
                            </div>
                            <div class="section-title">
                                <form id="delete" method="post" th:action="@{/board/delete/{boardId} (boardId = ${board.boardId})}"></form>
                                <h5><a href="#" onclick="document.getElementById('delete').submit();">게시글 삭제</a></h5>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="blog__details__pic">
                        <img th:src="@{/image/{fileId} (fileId = ${board.fileId})}" src="img/blog/details/blog-details-pic.jpg" style="object-fit: scale-down;" alt="">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="blog__details__content">
                        <div class="blog__details__text">
                            <p th:text="${board.content}">컨텐츠</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 col-md-8">
                                <div class="anime__details__review">
                                    <div class="section-title" style="display: flex; color:white; justify-content: first baseline;">
                                        <div>
                                            <form th:if="${board.likeState} == 0" method="post" th:action="@{/like/{boardId}/{memberId} (boardId = ${board.boardId}, memberId = ${board.loginMemberId}) }">
                                                <button style="color:white; background-color:transparent; outline: 0; border: 0;" type="submit"><i class="fa fa-thumbs-up" style="color:white"></i></button><sapn th:text="${board.likeCount}">99</sapn>
                                            </form>
                                            <form th:if="${board.likeState} == 1" method="post" th:action="@{/unlike/{boardId}/{memberId} (boardId = ${board.boardId}, memberId = ${board.loginMemberId}) }">
                                                <button style="color:white; background-color:transparent; outline: 0; border: 0;" type="submit"><i class="fa fa-thumbs-up" style="color:pink"></i></button><sapn th:text="${board.likeCount}">99</sapn>
                                            </form>
                                        </div>
                                        &nbsp&nbsp&nbsp
                                        <div>
                                            <button style="color:white; background-color:transparent; outline: 0; border: 0;"><i class="fa fa-comments"></i></button><sapn th:text="${board.commentCount}">99</sapn>
                                        </div>
                                    </div>
                                    <div th:each="comment : ${board.comments}" class="anime__review__item">
                                        <div class="anime__review__item__pic">
                                            <img src="img/anime/review-1.jpg" th:src="@{/image/{fileId} (fileId = ${comment.memberId})}" alt="">
                                        </div>
                                        <div  class="anime__review__item__text">
                                            <h6 th:text="${comment.nickName}">닉네임 입니다.</h6>
                                            <p th:text="${comment.comment}">댓글입니다.</p>
                                            <form th:if="${comment.memberId} == ${board.loginMemberId}" method="post" th:action="@{/unComment/{commentId} (commentId = ${comment.commentId})}">
                                                <button style="color:white; background-color:transparent; outline: 0; border: 0;" type="submit">삭제</button>
                                            </form>
                                        </div>
                                    </div>
                                <div class="anime__details__form">
                                    <div class="section-title">
                                        <h5>Your Comment</h5>
                                    </div>
                                    <form th:action="@{/comment/{boardId}/{memberId} (boardId = ${board.boardId}, memberId = ${board.loginMemberId})}" th:object="${commentForm}" method="post">
                                        <textarea th:field="*{commentInput}" type="text"/>
                                        <div class="field-error" th:errors="*{commentInput}"></div>
                                        <button type="submit"><i class="fa fa-location-arrow"></i> Review</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Details Section End -->

        <!-- Footer Section Begin -->
        <footer class="footer">
            <div class="page-up">
                <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer__nav">
                            <ul>
                                <li class="active"><a href="./index.html">Homepage</a></li>
                                <li><a href="./categories.html">Categories</a></li>
                                <li><a href="./blog.html">Our Blog</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

                      </div>
                  </div>
              </div>
          </footer>
          <!-- Footer Section End -->

          <!-- Search model Begin -->
          <div class="search-model">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="search-close-switch"><i class="icon_close"></i></div>
                <form class="search-model-form">
                    <input type="text" id="search-input" placeholder="Search here.....">
                </form>
            </div>
        </div>
        <!-- Search model end -->

        <!-- Js Plugins -->
        <script src="/main/js/jquery-3.3.1.min.js"></script>
        <script src="/main/js/bootstrap.min.js"></script>
        <script src="/main/js/player.js"></script>
        <script src="/main/js/jquery.nice-select.min.js"></script>
        <script src="/main/js/mixitup.min.js"></script>
        <script src="/main/js/jquery.slicknav.js"></script>
        <script src="/main/js/owl.carousel.min.js"></script>
        <script src="/main/js/main.js"></script>

    </body>

    </html>